// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 480px;
  margin: 0 auto;
}

.comments, .create {
  margin: 40px 0;
}

.close-button,
.create .actions input {
  background-color: #f2580b;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
  text-decoration: none;
  display: inline-block;
}

.comment {
  background-color: #fff;
  font-weight: 300;
  padding: 16px;
  margin-bottom: 10px;
  width: 450px;
}

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0 10px;
  min-height: 100px;
  padding: 16px;
  transition: border 0.5s;
  width: calc(100% - 32px);
}

form textarea:focus {
  border: 1px solid #0084d7;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}

.close-button::before {
  content: 'x ';
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
}
.close-button:hover {
  background-color: red;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .comments, .create {
    padding: 0 20px;
  }
}